# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
.venv/
venv/

# Flask
instance/
.webassets-cache

# Banco de dados
*.db
*.sqlite3

# Variáveis de ambiente (SENHAS!)
.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db