body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("/static/images/brasil2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Não repete a imagem */
    background-attachment: fixed; /* Opcional: fixa a imagem ao rolar a página */
}
h1, h2{
    color:white;
}
h3{
    color: white;
    font-weight: lighter;
}

#container {

    width: 100vw;
    height: 100vh;
    display: flex;
    /* ativa o flexbox (organiza os elementos) */
    flex-direction: row;
    /* organiza os itens em linha (horizontal) */
    justify-content: center;
    /* centraliza no eixo horizontal */
    align-items: center;
    /* centraliza no eixo vertical */

}

#box {
   
    width: 35%;
    /* ocupa mais espaço em telas pequenas */
    min-height: 600px;
    max-width: 800px;
    /* limite em telas grandes */
    
    border-radius: 10px;
    background-image:  linear-gradient(45deg, rgb(49, 123, 6), rgb(0, 0, 125));
    padding: 30px;
    text-align: center;
}

#brasilInput {

    padding: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 0;

}


#listarBtn, #btnLimpar, #voltar {
    color: black;
    font-weight: bold;
    background-color: #fff;
    padding: 5px;
    width: 35%;
    transition: 0.9s;
    border-radius: 7px;
}

#voltar:hover, #listarBtn:hover {
    background-color: rgb(16, 16, 16);
    color: white;
}

#btnLimpar:hover {
    background-color: rgb(216, 6, 6);
    color: white;
}

form>button:hover {
    background-color: rgb(16, 16, 16);
    color: white;
}

li {
    list-style-type: none;
    margin: 5px;
    margin-right: 5%;
}


