body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("/static/images/fundo_gringo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1,h2{
    color: #fff;
}

#container {

    width: 100vw;
    height: 100vh;
    display: flex;
    /* ativa o flexbox (organiza os elementos) */
    flex-direction: row;
    /* organiza os itens em linha (horizontal) */
    justify-content: center;
    /* centraliza no eixo horizontal */
    align-items: center;
    /* centraliza no eixo vertical */
    

}

#box {

    width: 35%;
    /* ocupa mais espaço em telas pequenas */
    min-height: 600px;
    max-width: 800px;
    /* limite em telas grandes */
    opacity: 98%;
    border-radius: 10px;
    background: #fff;
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(179, 25, 66), rgb(10, 49, 97));

}

#ESTRANGEIROINPUT {
    padding: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    border: 0;
    border-radius: 5px;
}

#TEMPOINPUT {
    padding: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    border: 0;
    border-radius: 5px;
}

#listarBtn, #limparBtn, #voltarBtn{
    color: black;
    font-weight: bold;
    background-color: #fff;
    padding: 5px;
    width: 35%;
    transition: 0.9s;
    border-radius: 7px;
}

#listarBtn:hover , #limparBtn:hover {
    font-weight: bold;
    color: #fff;
    background-color: black;
}

#voltarBtn:hover{
    font-weight: bold;
    color: #fff;
    background-color: rgb(216,6, 6);
}

.tabela{
    font-size: 1.1em;
    color: #fff;
    background-color: rgb(10, 49, 97);
    border-radius: 5px;
    border-spacing: 40px 10px; /* espaço entre colunas e linhas */
    border-collapse: separate; /* Obrigatório para o espaçamento funcionar */
    padding: 0px 15px;
    margin: 0 auto; /* centraliza horizontalmente */
    width: fit-content; /* faz a tabela ocupar só o necessário */
    border: 5px solid #000000;
    min-width: 350px;

}

