<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_cla.css') }}">
    <title>Músicas clássicas</title>
</head>

<body>
    <div id="container">
        <div id="box">

            <h1 id="h1title">Músicas clássicas</h1>
            <br>
            <form action="{{ url_for('page_classica') }}" method="post">
                <input type="text" placeholder="Nome da música" name="CLASSICOINPUT" id="classicoInput" required>
                <input type="text" placeholder="Tempo de duração" name="TEMPOINPUT" id="tempoInput" required>
                <br><br>
                <button id="listarBtn">Listar</button>
            </form>
            <br>
            <form action="{{ url_for('page_classica') }}" method="get">
                <button id="limparBtn">Limpar</button>
            </form>
            <br>
            <form action="{{ url_for('main') }}">
                <button id="voltarBtn">Voltar</button>
            </form>
            <br>
            <table class="tabela">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Duração</th>
                    </tr>
                </thead>
                <tbody>
                    {%for musica in lista_classico%}
                    <tr>
                        <td>{{musica.Nome}}</td>
                        <td>{{musica.Tempo}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>


        </div>
    </div>
</body>

</html>