<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_gringo.css') }}">
    <title>Músicas gringas</title>
</head>

<body>
    <div id="container">
        <div id="box">
            <h1>Músicas estrangeiras</h1>
            <br>

            <form action="{{url_for('page_estrangeira')}}" method="post">
                <input type="text" placeholder="Nome da música" name="ESTRANGEIROINPUT" id="ESTRANGEIROINPUT" required>
                <input type="text" placeholder="Tempo de duração" name="TEMPOINPUT" id="TEMPOINPUT" required>
                <br>
                <br>
                <button id="listarBtn" name="Btn" value="listar">Listar</button>
                <br><br>
                <button id="limparBtn" name="Btn" value="limpar" formnovalidate>Limpar</button>
            </form>
            <br>
            <form action="{{ url_for('main') }}">
                <button id="voltarBtn" >Voltar</button>
            </form>
            <br>

            <table class="tabela">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Duração</th>
                    </tr>
                </thead>
                <tbody>
                    {%for linha in dados%}
                    <tr>
                        <td>{{linha[0]}}</td>
                        <td>{{linha[1]}}</td>

                    </tr>
                    {%endfor%}

                </tbody>
            </table>
        </div>
    </div>
</body>

</html>